{
  "machine": {
    "gpu": 1,
    "cpu": 8000,
    "ram": 16000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
            "/app/run_model.sh",
            {{ if .Messages }}
              {{ printf "%s" (toJson .Messages) | quote }}
            {{ else }}
              "[{\"role\":\"user\",\"content\":\"What is bitcoin?\"}]"
            {{ end }},
            {{ if .Temperature }}{{ .Temperature }}{{ else }}0.7{{ end }},
            {{ if .MaxTokens }}{{ .MaxTokens }}{{ else }}2048{{ end }}
        ],
        "Image": "narbs91/lilypad-ollama-${MODEL_NAME}:latest"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "Outputs": [
        {
          "Name": "outputs",
          "Path": "/outputs"
        }
      ],
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1",
        "cpu": "8",
        "memory": "16Gb"
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}