{
  "machine": {
    "gpu": 1,
    "cpu": 8000,
    "ram": 16000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
          "/app/model.sh", {{ .request }}
        ],
        "Image": "kelindi/lilypad-ollama-llama3.1-8b@sha256:fbd9a9a8e178a17a056bc1038630116e314ad97a90542e49944815196874421f"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "Outputs": [
        {
          "Name": "outputs",
          "Path": "/outputs"
        }
      ],
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1",
        "cpu": "8",
        "memory": "16Gb"
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}