{
  "machine": {
    "gpu": 1,
    "cpu": 8000,
    "ram": 16000
  },
  "job": {
    "APIVersion": "V1beta1",
    "Spec": {
      "Deal": {
        "Concurrency": 1
      },
      "Docker": {
        "Entrypoint": [
            "/app/model.sh",
            {{ if .Messages }}
              "{\"messages\":[{{ .Messages }}],\"temperature\":{{ .Temperature }},\"max_tokens\":{{ .MaxTokens }}}"
            {{ else }}
              "{\"messages\":[{\"role\":\"user\",\"content\":\"What is bitcoin?\"}],\"temperature\":0.7,\"max_tokens\":2048}"
            {{ end }}
        ],
        "Image": "${DOCKER_HUB_USERNAME}/lilypad-ollama-${MODEL_NAME}"
      },
      "Engine": "Docker",
      "Network": {
        "Type": "None"
      },
      "Outputs": [
        {
          "Name": "outputs",
          "Path": "/outputs"
        }
      ],
      "PublisherSpec": {
        "Type": "IPFS"
      },
      "Resources": {
        "GPU": "1",
        "cpu": "8",
        "memory": "16Gb"
      },
      "Timeout": 1800,
      "Verifier": "Noop"
    }
  }
}